footer {
	background-color: @color-1;
}

footer .ui.icon.header .icon {
    float: none;
    /* display: block; */
    width: auto;
    height: auto;
    line-height: 1;
    padding: 0;
    /* font-size: 3em; */
    margin: 0 auto .5rem;
    opacity: 1;
}

.ui.grid + .grid{
	padding-top: 60pt;
	padding-bottom: 60pt;
}